#footer {
    display: flex;
    /* border: 2px solid #111; */
    background: #4005ff0d;
    padding: 20px 10px;
}

form div {
    display: flex;
    flex-direction: column; 
    font-family: "Anton", sans-serif;
}

form div input {
    border: 2px solid rgba(0, 0, 0, 0.329);
    border-radius: 5px;
    outline: none;
    padding: 7px 12px;
    background: #fff;
    font-family: "Mukta", sans-serif;
    font-size: 17px;
}

form div textarea {
    font-size: 17px;
    font-family: "Mukta", sans-serif;
    resize: none;
    border: 2px solid rgba(0, 0, 0, 0.377);
    outline: none;
    border-radius: 10px 20px 12px 10px / 5px 10px 12px 20px;
    padding: 7px 12px;
    height: 150px;
    background: white;
}

.iconForm button {
    padding: 5px 19px;
    letter-spacing: 3px;
    font-family: "Work Sans", sans-serif;
    cursor: pointer;
    border-radius: 7px;
    border: none;
    font-size: 19px;
    transition: 0.4s ease-in-out 0.1s;
    background-color: rgb(0, 110, 255);
    color: white; 
    border: 2px solid white;
    margin: 20px 0px;
}

.iconForm button:hover {
    background: #ffffff;
    color: black;
    border: 2px solid rgba(255, 255, 170, 0.425);
}
.iconForm a{
    padding: 5px 19px;
    letter-spacing: 3px;
    font-family: "Work Sans", sans-serif;
    cursor: pointer;
    border-radius: 7px;
    border: none;
    font-size: 29px;
    transition: 0.4s ease-in-out 0.1s;
   color: #111;  
    margin: 20px 0px;
}
.iconForm a:hover{
    padding: 5px 19px;
    letter-spacing: 3px;
    font-family: "Work Sans", sans-serif;
    cursor: pointer;
    border-radius: 7px;
    border: none;
    font-size: 29px;
    transition: 0.4s ease-in-out 0.1s;
    /* background-color: rgb(0, 110, 255); */
    /* color: white;  */
    /* border: 2px solid white; */
    margin: 20px 0px;
}

.footerItems {
    width: 50%;
}

.contFooter { 
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 23px;
    justify-content: center;
}

.buttonFooter button {
    border: 2px solid rgba(0, 0, 0, 0.303);
    padding: 5px 16px;
    font-size: 15px;
    border-radius: 8px;
    letter-spacing: 2px;
    margin: 2px 7px;
    background-color: transparent; 
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease-in-out; 
}

.buttonFooter button:hover {
    background: rgb(0, 110, 255);
    color: #fff;
    border: 2px solid #fff;
}

.buttonFooter div {
    line-height: 42px;
}

.buttonFooter .active {
    background: rgb(0, 110, 255);
    color: #fff;
    border: 2px solid #fff;
}

.textFooter div{
    color: rgb(0, 110, 255);
    font-family: "Mukta", sans-serif;
    font-size: 39px;
    line-height: 40px;
    font-weight: 600;
}
.textFooter div span{
    color: rgb(217, 0, 255);
}
.fontFooter div{
    font-family: "Mukta", sans-serif;
    font-size: 19px;

}
.iconForm{ 
display: flex; 
flex-direction: row; 
padding: 10px 20px;
}